* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #028a0f;
  --secondary: #191c24;
  --light: #6c7293;
  --dark: #000000;
}
/*body*/
.tela-login-login {
  font-family: arial, sans-serif;
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/*formulario*/
.tela-login-main-login {
  background-color: var(--secondary);
  border-radius: 5px;
  padding: 50px;
  width: 30%;
  min-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/*Sumario*/
.tela-login-header-login {
  display: flex;
  color: white;
  justify-content: flex-end;
  padding-bottom: 50px;
} /* FIM Sumario*/

/*Campo de preenchimento*/
.tela-login-form-login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2rem;
}
.tela-login-floatingInput {
  position: relative;
}
.tela-login-floatingInput__control {
  background-color: var(--dark);
  color: var(--light);
  border-radius: 5px;
  height: 70px;
  width: 98%;
  border: transparent;
  font-size: 15px;
  margin: 0px 0px 25px 0px;
  padding: 20px;
  padding-bottom: 5px;
}
.tela-login-floatingInput__control::placeholder {
  opacity: 0;
}
.tela-login-floatingInput__control:not(:placeholder-shown)
  + .tela-login-floatingInput__label,
.tela-login-floatingInput__control:focus + .tela-login-floatingInput__label {
  top: 0.2rem;
  font-size: 1.3rem;
}
.tela-login-floatingInput__label {
  color: var(--light);
  position: absolute;
  top: 50%;
  left: 20px;
  transition: all 0.2s;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
}

/*checkbox e esqueci senha */
.tela-login-checkbox-esquecisenha-login {
  display: flex;
  justify-content: space-between;
  padding: 25px 0px 25px 0;
}
/*checkbox*/
.tela-login-checkbox-login {
  color: var(--light);
}
.tela-login-checkbox-login:hover {
  color: var(--primary);
} /* FIM checkbox*/

/*esqueci senha*/
.tela-login-esquecisenha-login {
  color: var(--light);
  text-decoration: none;
}
.tela-login-esquecisenha-login:hover {
  color: var(--primary);
} /* FIM esqueci senha*/

/*botão login*/
.tela-login-input-bnt-login {
  color: var(--light);
  margin-top: 8px;
}
.tela-login-input-bnt-login::placeholder {
  color: var(--light);
}
.tela-login-bnt-login {
  all: unset;
  margin-top: 12px;
  border-radius: 8px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: var(--primary);
  font-size: 16px;
  flex-wrap: wrap;
  font-family: "Opens-sans", sans-serif;
  cursor: pointer;
  color: white;
  width: 100%;
  text-transform: uppercase;
}
.tela-login-bnt-login:hover {
  background-color: rgb(172, 8, 8);
  transition: 1s;
}

.tela-login-bnt-login.tela-login-disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.tela-login-option-pessoa {
  background-color: var(--dark);
  color: var(--light);
  font-size: 20px;
  border: none;
  cursor: pointer;
  width: 200px;
  height: 35px;
  font-family: "Opens-sans", sans-serif;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
}

.tela-login-esconder_senha {
  all: unset;
  color: var(--light);
  cursor: pointer;
  position: absolute;
  display: flex;
  right: 0;
  bottom: 50%;
  margin-right: 22px;
}

::-ms-reveal {
  display: none;
}
