:root {
  --primary: #028a0f;
  --secondary: #191c24;
  --light: #6c7293;
  --dark: #000000;
}

.tela-empresa-header {
  width: 80%;
  justify-content: space-between;
  display: flex;
  color: white;
}

.tela-empresa-return {
  all: unset;
  cursor: pointer;
}

.tela-empresa-return:hover {
  color: var(--primary);
}

.div-cadastrar-empresa {
  display: flex;
  gap: 18px;
}

.div-cadastrar-empresa button {
  all: unset;
  color: white;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 190px;
  background-color: var(--primary);
  border-radius: 8px;
}

#visualizar-inativas-empresas {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

#resetar-inativas-empresas {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
}
