* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #028a0f;
  --secondary: #191c24;
  --light: #6c7293;
  --dark: #000000;
}

.minibox {
  padding: 15px;
  width: 90%;
  margin-top: 20px;
  background-color: var(--secondary);
  border-radius: 20px;
  overflow-y: auto;
  box-shadow: #ccc 0 0 0 2px;
  overflow-wrap: break-word;
  margin-left: 20px;
}

.tela-dash-body {
  background-color: var(--secondary);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "div-03 div-03 div-03"
    "div-01 div-01 div-01"
    "div-04 div-06 div-07"
    "div-08 div-12 div-14"
    "div-11 div-11 div-11";
  width: 100%;
  border-radius: 5px;
  gap: 10px;
}

.div-01 {
  margin-left: 20%;
  margin-bottom: auto;
  grid-area: div-01;
  height: 100%;
  width: 90%;
  background-color: var(--secondary);
  padding: 15px;
  color: var(--light);
  border-radius: 20px;
}

.tela-dash-input {
  width: 40%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.div-05 {
  grid-area: div-05;
  margin: auto;
  padding: 10px;
  height: 100px;
  width: 100%;
  background-color: var(--secondary);
  color: var(--light);
  border-radius: 20px;
}
.logo-dashbord {
  width: 20px;
}

.div-04 {
  grid-area: div-04;
  color: var(--light);
  height: 100%;
  width: 100%;
  background-color: var(--secondary);
  padding: 15px;
  color: var(--light);
  border-radius: 20px;
}
.dashbord-h1 {
  color: rgb(189, 14, 14);
}
.div-06 {
  grid-area: div-06;
  color: var(--light);
  height: 100%;
  width: 100%;
  background-color: var(--secondary);
  padding: 15px;
  color: var(--light);
  border-radius: 20px;
}
.dashbord-h2 {
  color: var(--primary);
}

.div-07 {
  grid-area: div-07;
  color: var(--light);
  height: 100%;
  width: 100%;
  background-color: var(--secondary);
  padding: 15px;
  color: var(--light);
  border-radius: 20px;
}
.dashbord-h3 {
  color: rgb(44, 166, 207);
}

.div-09 {
  grid-area: div-09;
  color: aliceblue;
  height: 100%;
  width: 100%;
}
.div-11 {
  grid-area: div-11;
  color: var(--light);
  height: 100%;
  width: 100%;
  background-color: var(--secondary);
  padding: 15px;
  color: var(--light);
  border-radius: 20px;
  margin: auto;
}
.div-03 {
  grid-area: div-03;
  color: var(--light);
  display: flex;
  height: 100%;
  width: 100%;
  background-color: var(--secondary);
  padding: 15px;
  color: var(--light);
  border-radius: 20px;
  margin: auto;
}
.div-14 {
  margin: auto;
  align-items: center;
  grid-area: div-14;
  color: aliceblue;
  height: 100%;
  width: 86%;
  color: var(--light);
}
