* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #028a0f;
  --secondary: #191c24;
  --light: #6c7293;
  --dark: #000000;
}

body {
  background-color: var(--dark);
}

.teste {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* HEADER */

.div-header {
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--secondary);
  font-family: "Roboto", sans-serif;
}

.div-header-esquerda {
  display: flex;
  align-items: center;
  color: var(--primary);
  font-size: 20px;
}

.botao-home {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 32px;
  gap: 8px;
}

.botao-home img {
  width: 60px;
  height: 55px;
}

.div-header-direita {
  display: flex;
  justify-content: end;
  align-items: center;
  color: var(--light);
  font-family: "Open-sans", sans-serif;
  font-size: 18px;
}

.botao-usuario {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 32px;
}

.botao-usuario:hover {
  color: var(--primary);
}

.botao-usuario img {
  width: 40px;
  height: 40px;
  border-radius: 99px;
}
/* HEADER */

/*BARRA LATERAL*/

.barra-lateral {
  width: 20%;
  height: 700px;
  background-color: var(--secondary);
  position: absolute;
  left: 0;
}

.usuario-barra-lateral {
  height: 100px;
  background-color: var(--secondary);
  display: flex;
  justify-content: start;
  padding-left: 32px;
  align-items: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  gap: 18px;
  padding-top: 18px;
}
.usuario-barra-lateral span {
  font-family: "Open-sans", sans-serif;
  color: var(--light);
  font-weight: 300;
}

.usuario-barra-lateral img {
  width: 50px;
  height: 50px;
  border-radius: 99px;
}

.div-botoes {
  display: flex;
  flex-direction: column;
  font-family: "Open-sans", sans-serif;
  font-size: 20px;
  margin-top: 12px;
}

.botao-dashboard {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--light);
  gap: 14px;
  height: 50px;
  width: 80%;
  padding-left: 38px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-left: 4px solid transparent;
}

.botao-dashboard:hover {
  transition: 0.5s;
  color: var(--primary);
  background-color: var(--dark);
  border-left: 4px solid var(--primary);
}

.botao-pages {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--light);
  gap: 14px;
  height: 50px;
  width: 80%;
  padding-left: 38px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-left: 4px solid transparent;
  margin-top: 8px;
}

.botao-pages:hover {
  transition: 0.5s;
  color: var(--primary);
  background-color: var(--dark);
  border-left: 4px solid var(--primary);
}

.botao-secundario {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--light);
  gap: 14px;
  height: 35px;
  width: 80%;
  font-size: 16px;
  padding-left: 38px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-left: 4px solid transparent;
}

.botao-secundario:hover {
  background-color: var(--dark);
}
/*BARRA LATERAL*/

/*MENU*/

.div-guias {
  display: grid;
  position: absolute;
  top: 0;
  right: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 80px;
  width: 75%;
  margin-right: 32px;
  column-gap: 10px;
}

.guias {
  width: 100%;
  background-color: var(--secondary);
  color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 100px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-top: 12px;
}

.guias svg {
  color: var(--primary);
}

.container-menu {
  width: 75%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 25rem;
  gap: 100px;
}

.tabela {
  width: 100%;
  font-size: 18px;
  background-color: var(--secondary);
}

.head-tabela {
  color: white;
}

td,
th,
tr {
  border: 1px solid black;
}
