:root {
  --primary: #028a0f;
  --secondary: #191c24;
  --light: #6c7293;
  --dark: #000000;
}

.tela-home-container-grid-home {
  background-color: var(--dark);
  min-height: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.tela-home-div-header-home {
  background-color: var(--secondary);
  width: 100%;
  padding: 10px;
  position: absolute;
}
.tela-home-botao-home,
.tela-home-botao-usuario {
  background-color: var(--secondary);
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.tela-home-nome-usuario {
  color: var(--light);
  font-size: 18px;
  text-transform: uppercase;
}
.tela-home-nome-usuario:hover {
  color: var(--primary);
}
.tela-home-botao-home {
  width: 200px;
  justify-content: space-between;
}
.tela-home-botao-home h2 {
  font-size: 35px;
  color: var(--primary);
}
.tela-home-div-header {
  display: flex;
  justify-content: space-between;
}
.tela-home-div-header-direita {
  align-items: center;
  width: 550px;
  display: flex;
  justify-content: center;
}

.tela-home-div-header-home img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: transparent;
}
.tela-home-submenu-usuario {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--secondary);
  margin-top: 160px;
}
.tela-home-submenu-usuario button {
  background-color: transparent;
  border: none;
  padding: 10px;
  font-size: 16px;
  color: var(--light);
  cursor: pointer;
  display: flex;
  gap: 4px;
}
.tela-home-submenu-usuario button:hover {
  color: var(--primary);
}

.tela-home-botao-dashboard,
.tela-home-botao-pages {
  background-color: transparent;
  border: none;
  margin: 10px 0;
  color: black;
  font-size: 16px;
  color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}

.tela-home-botao-usuario img {
  width: 60px;
  height: 60px;
  border-radius: 99px;
}

/* HEADER */

/*MENU*/

.tela-home-div-sidenav-home {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tela-home-separador-home {
  width: 90%;
  display: flex;
  justify-content: space-between;
  row-gap: 32px;
  margin-top: 60px;
  flex-wrap: wrap;
  position: relative;
}

.tela-home-div-botoes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  border-radius: 8px;
  background-color: var(--secondary);
}

.tela-home-botao-secundario {
  all: unset;
  display: flex;
  color: var(--light);
  font-size: 26px;
  cursor: pointer;
  gap: 8px;
}

.tela-home-botao-secundario:hover {
  color: var(--primary);
}
/*MENU*/
