:root {
  --primary: #028a0f;
  --secondary: #191c24;
  --light: #6c7293;
  --dark: #000000;
}

.container-grid-home {
  background-color: var(--dark);
  height: 100%;
}
.div-header-home {
  background-color: var(--secondary);
  width: 100%;
  padding: 10px;
}
.botao-home,
.botao-usuario {
  background-color: var(--secondary);
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.nome-usuario {
  color: var(--light);
  font-size: 18px;
  text-transform: uppercase;
}
.nome-usuario:hover {
  color: var(--primary);
}
.botao-home {
  width: 200px;
  justify-content: space-between;
}
.botao-home h2 {
  font-size: 35px;
  color: var(--primary);
}
.div-header {
  display: flex;
  justify-content: space-between;
}
.div-header-direita {
  align-items: center;
  width: 280px;
  display: flex;
  justify-content: center;
}

.div-header-home img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: transparent;
}
.submenu-usuario {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--secondary);
  margin-top: 160px;
}
.submenu-usuario button {
  background-color: transparent;
  border: none;
  padding: 10px;
  font-size: 16px;
  color: var(--light);
  cursor: pointer;
  display: flex;
  gap: 4px;
}
.submenu-usuario button:hover {
  color: var(--primary);
}

.div-botoes {
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 120px;
  transition: 0.5s;
  padding-top: 30px;
}
.botao-dashboard,
.botao-pages {
  background-color: transparent;
  border: none;
  margin: 10px 0;
  color: black;
  font-size: 16px;
  color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}

.div-botoes:hover {
  max-width: 200px;
}

.div-botoes:hover .botao-dashboard p,
.div-botoes:hover .botao-pages p {
  display: flex;
  justify-content: center;
}

.botao-secundario {
  background-color: transparent;
  padding: 5px 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: none;
  display: flex;
  font-size: 16px;
  color: var(--light);
  cursor: pointer;
  gap: 8px;
}
.botao-dashboard:hover,
.botao-pages:hover,
.botao-secundario:hover {
  color: var(--primary);
}

.botao-usuario img {
  width: 60px;
  height: 60px;
  border-radius: 99px;
}

/* HEADER */

/*BARRA LATERAL*/

/*BARRA LATERAL*/

/*MENU*/

.div-guias {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 95%;
  column-gap: 10px;
}

.guias {
  width: 100%;
  background-color: var(--secondary);
  color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 100px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-top: 12px;
}

.guias svg {
  color: var(--primary);
}

.tabela {
  width: 95%;
  font-size: 18px;
  margin-top: 20px;
  background-color: var(--secondary);
}

.div-tabela {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 20px;
  width: 95%;
  background-color: var(--secondary);
}

.div-tabela h3 {
  color: white;
  font-size: 22px;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.div-tabela-header {
  display: flex;
  width: 95%;
  background-color: var(--secondary);
  font-size: 16px;
  gap: 20px;
  justify-content: center;
  color: white;
  font-family: "Roboto", sans-serif;
}

.div-tabela button {
  all: unset;
  color: var(--primary);
  font-size: 18px;
  font-family: "Opens-sans", sans-serif;
  cursor: pointer;
}

.header-codigo {
  width: 80px;
}

.codigo {
  width: 80px;
}

.header-cliente {
  width: 120px;
}

.cliente {
  width: 120px;
}

.div-tabela button:hover {
  color: rgb(172, 8, 8);
}
