:root {
  --primary: #028a0f;
  --secondary: #191c24;
  --light: #6c7293;
  --dark: #000000;
}

.tela-colaborador-cadastrocolaborador {
  font-family: arial, sans-serif;
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.tela-colaborador-main-cadastrocolaborador {
  background-color: var(--secondary);
  height: 100%;
  padding: 50px;
  min-width: 450px;
}
.tela-colaborador-header-cadastrocolaborador {
  display: flex;
  justify-content: right;
  color: white;
  margin-bottom: 20px;
}

.tela-colaborador-form-cadastrocolaborador {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2rem;
}
.tela-colaborador-floatingInput {
  position: relative;
}
.tela-colaborador-floatingInput__control {
  background-color: var(--dark);
  color: var(--light);
  border-radius: 5px;
  height: 70px;
  width: 98%;
  border: transparent;
  font-size: 15px;
  margin: 0px 0px 25px 0px;
  padding: 20px;
  padding-bottom: 5px;
}

.tela-colaborador-floatingInput__control::placeholder {
  opacity: 0;
}
.tela-colaborador-floatingInput__control:not(:placeholder-shown)
  + .tela-colaborador-floatingInput__label,
.tela-colaborador-floatingInput__control:focus
  + .tela-colaborador-floatingInput__label {
  top: 0.2rem;
  font-size: 1.3rem;
}

.tela-colaborador-floatingInput__label {
  color: var(--light);
  position: absolute;
  top: 50%;
  left: 20px;
  transition: all 0.2s;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
}

/*botão salvar*/
.tela-colaborador-input-bnt-cadastrocolaborador {
  color: var(--light);
  margin-top: 8px;
}
.tela-colaborador-input-bnt-cadastrocolaborador::placeholder {
  color: var(--light);
}
.tela-colaborador-bnt-cadastrocolaborador {
  all: unset;
  margin-top: 12px;
  border-radius: 5px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: var(--primary);
  font-size: 16px;
  flex-wrap: wrap;
  font-family: "Opens-sans", sans-serif;
  cursor: pointer;
  color: white;
  width: 100%;
  text-transform: uppercase;
}
.tela-colaborador-bnt-cadastrocolaborador:hover {
  background-color: rgb(172, 8, 8);
  transition: 1s;
}
.tela-colaborador-bnt-cadastrocolaborador.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.tela-colaborador-formulario-login-colaborador {
  margin: 25px 0px 50px 0px;
}

.tela-colaborador-formulario-login-colaborador h2 {
  color: white;
}

.tela-colaborador-esconder_senha {
  all: unset;
  color: var(--light);
  cursor: pointer;
  position: absolute;
  display: flex;
  right: 0;
  bottom: 50%;
  margin-right: 22px;
}

.tela-colaborador-input-tipo-usuario {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--primary);
  border-radius: 50%;
  outline: none;
  background-color: black;
  cursor: pointer;
}

.tela-colaborador-input-tipo-usuario:checked {
  background-color: var(--primary);
}

.tela-colaborador-tipo-usuario {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.tela-colaborador-div-tipo-usuario {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 20px;
}
.tela-colaborador-label-tipo-usuario {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: var(--light);
}
