* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #028a0f;
  --secondary: #191c24;
  --light: #6c7293;
  --dark: #000000;
}
.tela-recuperar-senha-recuperarsenha {
  font-family: arial, sans-serif;
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.tela-recuperar-senha-main-recuperarsenha {
  background-color: var(--secondary);
  padding: 50px;
  min-width: 450px;
}
.tela-recuperar-senha-header-recuperarsenha {
  display: flex;
  justify-content: right;
  color: white;
}

.tela-recuperar-senha-form-recuperarsenha {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2rem;
  margin: 25px 0px 0px 0px;
}
.tela-recuperar-senha-floatingInput {
  position: relative;
}
.tela-recuperar-senha-floatingInput__control {
  background-color: var(--dark);
  color: var(--light);
  border-radius: 5px;
  height: 70px;
  width: 98%;
  text-transform: uppercase;
  border: transparent;
  font-size: 15px;
  margin: 0px 0px 25px 0px;
}

.tela-recuperar-senha-floatingInput__control::placeholder {
  opacity: 0;
}
.tela-recuperar-senha-floatingInput__control:not(:placeholder-shown)
  + .tela-recuperar-senha-floatingInput__label,
.tela-recuperar-senha-floatingInput__control:focus
  + .tela-recuperar-senha-floatingInput__label {
  top: 0tela-recuperar-senha-2rem;
  font-size: 1tela-recuperar-senha-3rem;
}
.tela-recuperar-senha-floatingInput__label {
  color: var(--light);
  position: absolute;
  top: 50%;
  left: 20px;
  transition: all 0tela-recuperar-senha-2s;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
}

/*botão Alterar*/

.tela-recuperar-senha-bnt-recuperarsenha {
  color: var(--light);
  margin-top: 8px;
}
.tela-recuperar-senha-bnt-recuperarsenha::placeholder {
  color: var(--light);
}
.tela-recuperar-senha-bnt-recuperarsenha {
  all: unset;
  margin-top: 12px;
  border-radius: 5px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: var(--primary);
  font-size: 16px;
  flex-wrap: wrap;
  font-family: "Opens-sans", sans-serif;
  cursor: pointer;
  color: white;
  width: 100%;
  text-transform: uppercase;
}
.tela-recuperar-senha-bnt-recuperarsenha:hover {
  background-color: rgb(172, 8, 8);
  transition: 1s;
}
.tela-recuperar-senha-bnt-recuperarsenha.tela-recuperar-senha-disabled {
  opacity: 0tela-recuperar-senha-5;
  cursor: not-allowed;
  pointer-events: none;
}

/*botao abandonar */
.tela-recuperar-senha-bnt-recuperarsenha-abandonar {
  all: unset;
  margin-top: 12px;
  border-radius: 5px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: rgb(172, 8, 8);
  font-size: 16px;
  flex-wrap: wrap;
  font-family: "Opens-sans", sans-serif;
  cursor: pointer;
  color: white;
  width: 100%;
  text-transform: uppercase;
}
.tela-recuperar-senha-bnt-recuperarsenha-abandonar:hover {
  background-color: var(--primary);
  transition: 1s;
}

.tela-recuperar-senha-esconder_senha {
  all: unset;
  color: var(--light);
  cursor: pointer;
  position: absolute;
  display: flex;
  right: 0;
  bottom: 50%;
  margin-right: 22px;
}
