* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #028a0f;
  --secondary: #191c24;
  --light: #6c7293;
  --dark: #000000;
}
.tela-trocarsenha-trocarsenha {
  font-family: arial, sans-serif;
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
}
.tela-trocarsenha-main-trocarsenha {
  background-color: var(--secondary);
  padding: 50px;
  min-width: 450px;
}
.tela-trocarsenha-header-trocarsenha {
  display: flex;
  justify-content: right;
  color: white;
}

.tela-trocarsenha-form-trocarsenha {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2rem;
  margin: 25px 0px 0px 0px;
}
.tela-trocarsenha-floatingInput {
  position: relative;
}
.tela-trocarsenha-floatingInput__control {
  background-color: var(--dark);
  color: var(--light);
  border-radius: 5px;
  height: 70px;
  width: 98%;
  text-transform: uppercase;
  border: transparent;
  font-size: 20px;
  margin: 0px 2px 25px 0px;
  text-align: left;
  padding-left: 20px;
}

.tela-trocarsenha-floatingInput__control::placeholder {
  opacity: 0;
}
.tela-trocarsenha-floatingInput__control:not(:placeholder-shown)
  + .tela-trocarsenha-floatingInput__label,
.tela-trocarsenha-floatingInput__control:focus
  + .tela-trocarsenha-floatingInput__label {
  top: 0tela-trocarsenha-2rem;
  font-size: 1tela-trocarsenha-3rem;
}
.tela-trocarsenha-floatingInput__label {
  color: var(--light);
  position: absolute;
  top: 50%;
  left: 20px;
  transition: all 0tela-trocarsenha-2s;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
}

/*botão Alterar*/

.tela-trocarsenha-bnt-trocarsenha {
  color: var(--light);
  margin-top: 8px;
}
.tela-trocarsenha-bnt-trocarsenha::placeholder {
  color: var(--light);
}
.tela-trocarsenha-bnt-trocarsenha {
  all: unset;
  margin-top: 12px;
  border-radius: 5px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: var(--primary);
  font-size: 16px;
  flex-wrap: wrap;
  font-family: "Opens-sans", sans-serif;
  cursor: pointer;
  color: white;
  width: 100%;
  text-transform: uppercase;
}
.tela-trocarsenha-bnt-trocarsenha:hover {
  background-color: rgb(109, 204, 71);
  transition: 1s;
}
.tela-trocarsenha-bnt-trocarsenha.tela-trocarsenha-disabled {
  opacity: 0tela-trocarsenha-5;
  cursor: not-allowed;
  pointer-events: none;
}

/*botao abandonar */
.tela-trocarsenha-bnt-trocarsenha-abandonar {
  all: unset;
  margin-top: 12px;
  border-radius: 5px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: rgb(172, 8, 8);
  font-size: 16px;
  flex-wrap: wrap;
  font-family: "Opens-sans", sans-serif;
  cursor: pointer;
  color: white;
  width: 100%;
  text-transform: uppercase;
}
.tela-trocarsenha-bnt-trocarsenha-abandonar:hover {
  background-color: rgb(228, 123, 123);
  transition: 1s;
}
