:root {
  --primary: #028a0f;
  --secondary: #191c24;
  --light: #6c7293;
  --dark: #000000;
}

/*body*/
.tela-empresa-cadastrocliente {
  font-family: arial, sans-serif;
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
}
/*formulario*/
.tela-empresa-main-cadastrarcliente {
  background-color: var(--secondary);
  width: 70%;
  margin: 50px 0px 50px 0px;
  padding: 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  min-width: 450px;
  max-width: 1000px;
}
/*Cabecalho*/
.tela-empresa-header-cadcliente {
  color: white;
  text-align: right;
}
/*Distancia dos campos de preenchimento*/
.tela-empresa-formulario-empresa,
.tela-empresa-formulario-contato,
.tela-empresa-formulario-login {
  margin: 25px 0px 50px 0px;
}
.tela-empresa-formulario-empresa h2,
.tela-empresa-formulario-contato h2,
.tela-empresa-formulario-login h2 {
  color: white;
}

/*Campo preenchimento*/
.tela-empresa-floatingInput {
  position: relative;
}
.tela-empresa-floatingInput__control {
  background-color: var(--dark);
  color: var(--light);
  border-radius: 5px;
  height: 70px;
  width: 98%;
  text-transform: uppercase;
  border: transparent;
  font-size: 15px;
  margin: 0px 0px 25px 0px;
  padding: 20px;
  padding-bottom: 8px;
}
.tela-empresa-floatingInput__control::placeholder {
  opacity: 0;
}
.tela-empresa-floatingInput__control:not(:placeholder-shown)
  + .tela-empresa-floatingInput__label,
.tela-empresa-floatingInput__control:focus
  + .tela-empresa-floatingInput__label {
  top: 0.2rem;
  font-size: 1.3rem;
}
.tela-empresa-floatingInput__label {
  color: var(--light);
  position: absolute;
  top: 50%;
  left: 20px;
  transition: all 0.2s;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
}

/*botão salvar*/
.tela-empresa-input-bnt-cadastrocliente {
  color: var(--light);
  margin-top: 8px;
}
.tela-empresa-input-bnt-cadastrocliente::placeholder {
  color: var(--light);
}
.tela-empresa-bnt-cadastrocliente {
  all: unset;
  margin-top: 12px;
  border-radius: 8px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: var(--primary);
  font-size: 16px;
  flex-wrap: wrap;
  font-family: "Opens-sans", sans-serif;
  cursor: pointer;
  color: white;
  width: 100%;
  text-transform: uppercase;
}
.tela-empresa-bnt-cadastrocliente:hover {
  background-color: rgb(172, 8, 8);
  transition: 1s;
}

.tela-empresa-tipo-pessoa {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 40px;
}
.tela-empresa-div-tipo-pessoa {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 20px;
}
.tela-empresa-label-tipo-pessoa {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: var(--light);
}

.tela-empresa-input-tipo-pessoa {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--primary);
  border-radius: 50%;
  outline: none;
  background-color: black;
  cursor: pointer;
}

.tela-empresa-input-tipo-pessoa:checked {
  background-color: var(--primary);
}

.tela-empresa-esconder_senha {
  all: unset;
  color: var(--light);
  cursor: pointer;
  position: absolute;
  display: flex;
  right: 0;
  bottom: 50%;
  margin-right: 22px;
}
